@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        margin: 0, auto;
    }
}

@media (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}

.experience-section {
    padding: 12vh 0 20vh;
    z-index: 0;
}

.experience-section .experience-items{
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 20px;
    z-index: -1;
}

.experience-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
    z-index: -1;
}

.experience-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: -1;
}

.experience-info p {
    font-family: 'Oxanium';
    font-weight: 600;
    font-size: 3vh;
    line-height: 2vh;
    opacity: 1;
    -webkit-animation: showText 0.5s 1s linear forwards;
    animation: showText 0.5s 1s linear forwards;
    z-index: -1;
}

.progress-line {
    margin-top: 7px;
    height: 10px;
    width: 100%;
    background-color: #cdcdcd;
    border-radius: 50px;
    position: relative;
    z-index: -1;
}

.progress-line span{
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    height: 100%;
    border-radius: 50px;
    position: absolute;
    background-color: red;
    transition: 1s all;
    z-index: -1;
}

.progress-line span.animate{
    -webkit-animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
    animation: animate 1.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@-webkit-keyframes showText{
    100%{
        opacity:1;
    }
}

@keyframes showText{
    100%{
        opacity:1;
    }
}

@-webkit-keyframes animate{
    100%{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes animate{
    100%{
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}